SQLSERVER_SA_PASSWORD=YourStrong@Passw0rd
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=sqlserver;Database=IB210131;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=true
JWT__KEY=YourSuperSecretKeyForJWTTokenGenerationMinimum32Characters
JWT__ISSUER=TransitFlowAPI
JWT__AUDIENCE=TransitFlowUsers
JWT__EXPIRATIONMINUTES=60
RABBITMQ__HOSTNAME=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest
STRIPE__SECRETKEY=sk_test_...
PAYPAL__CLIENTID=...
PAYPAL__CLIENTSECRET=...
PAYPAL__ISSANDBOX=true
PAYPAL__BAMTOUSDRATE=1.95583
